{{>header}}

<!-- Main Content -->
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <div class="log-form">
            <h2>Sign up for an account</h2>
            <form>
                <label>Email</label>
                <input type="email" title="email" placeholder="email" />
                <label>Password</label>
                <input type="password" title="password" placeholder="password" />
                <label>Type password again</label>
                <input type="password" title="password" placeholder="password" />
                <button type="submit" class="btn">Register</button>
            </form>
        </div>
        {{!-- </div> --}}
    </div>
  </div>