{{>header}}

<h1> Dashboard</h1>
<h2> Welcome {{email}}</h2>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="align-middle">
        <button type="button" class="btn btn-warning"><a class="nav-link active" href="/search">Review a Movie</a></button>
        </div>
    </div>
    <div class="col-md-4">
    <div class="float-right">
        <button type="button" class="btn btn-primary"><a class="nav-link active" href="/logout">Logout</a></button>
    </div>
    </div>
</div>
{{!-- <button type="button" class="btn btn-primary btn-lg"><a class="nav-link active" href="/search">See All My Reviews</a></button> --}}
