{{>header}}
{{>nav}}


{{!-- Form to submit blog post --}}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form action="/register" method="POST">
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Name:</label>
            <input type="text" name="name" placeholder="Name" class="form-control">
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Email</label>
            <input type="email" name="email" placeholder="Email" class="form-control">
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Favourite Halloween Movie:</label>
            <input type="text" name="favouriteHalloweenMovie" placeholder="Favourite Halloween Movie" class="form-control">
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Password</label>
            <input type="text" name="password" placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Confirm Password</label>
            <input type="text" name="passwordConfirmation" placeholder="Confirm Password" class="form-control">
          </div>
        </div>
        <div class="form-group my-4 text-center">
          <button class="btn btn-primary">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>
</div>