{{!-- {{>nav}} --}}
{{>header}}

<!-- Main Content -->
{{!-- <div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="post.html">
            <ul class="list-group">
                <li class="list-group-item"><h2 class="post-title">result /search bar goes here</h2></li>
            </ul>
          </a>
        </div>
        <hr> --}}

        <!-- Jombotron section which has the search box -->
        <div class="container">
          <div class="jumbotron">
            <h3 class="text-center">Search for Halloween Movies</h3>
            <form id="searchForm">
              <input type="text" class="form-control" id="searchText" placeholder="Search Movies....">
            </form>
          </div>
        </div>
        
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">search &rarr;</a>
      </div>
    </div>
  </div>
</div>